<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--Add custom listener path here-->
	<listeners>
		<listener class-name="com.learn.test.testlisteners.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<!--Change web page URL here-->
		<parameter name="url" value="https://demoqa.com/" />
		<classes>
			<class name="com.learn.test.testcases.LandingPageTest" />
			<class name="com.learn.test.testcases.ElementsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
